.navbar-toggler {
  background-color: #eca735;
  color: #333;
  outline: none;
}

.navmenu {
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  z-index: 2000;
  width: 17rem;
  background-color: #333;

  overflow: hidden;
  overflow-y: scroll;
  left: -17rem;
  position: fixed;
  transition: left .175s linear;
}

.navmenu.open {
  transform: translateX(0);
  left: 0;
}

.no-overflow {
  overflow: hidden;
}

.navmenu .navbar-nav .nav-item {
    float: none;
}
