<!-- <p>
  Token: super duper {{ username }}
</p>

This is the home page content. If you see this, you are logged in. You will remain logged in, even if you close the browser, until you sign out.
<br />
<a href="" ui-sref="restricted">Go to restricted page (will show you Access Denied)</a>
<br />
<a href="" ng-click="signout()">Click to sign out</a> -->
<style>
  .container-fluid {
    background-color: #eee;
  }

  .dim-app-header {
    background-color: #ccf;
  }

  .dim-character-header {
    background-color: #fcc;
  }

  .dim-item-category {
    background-color: #cfc;
  }

  .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xl-15 {
    position: relative;
    min-height: 1px;
    padding-right: .9375rem;
    padding-left: .9375rem;
  }

  .dim-character-items .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    margin-right: -.2rem;
    margin-left: -.2rem;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .dim-character-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .dim-character-items .col-xs-1, .dim-character-items .col-xs-2, .dim-character-items .col-xs-3, .dim-character-items .col-xs-4, .dim-character-items .col-xs-5, .dim-character-items .col-xs-6, .dim-character-items .col-xs-7, .dim-character-items .col-xs-8, .dim-character-items .col-xs-9, .dim-character-items .col-xs-10, .dim-character-items .col-xs-11, .dim-character-items .col-xs-12, .dim-character-items .col-sm-1, .dim-character-items .col-sm-2, .dim-character-items .col-sm-3, .dim-character-items .col-sm-4,
  .dim-character-items.col-sm-5, .dim-character-items .col-sm-6, .dim-character-items .col-sm-7, .dim-character-items .col-sm-8, .dim-character-items .col-sm-9, .dim-character-items .col-sm-10, .dim-character-items .col-sm-11, .dim-character-items .col-sm-12, .dim-character-items .col-md-1, .dim-character-items .col-md-2, .dim-character-items .col-md-3, .dim-character-items .col-md-4, .dim-character-items .col-md-5, .dim-character-items .col-md-6, .dim-character-items .col-md-7, .dim-character-items .col-md-8, .dim-character-items .col-md-9,
  .dim-character-items .col-md-10, .dim-character-items .col-md-11, .dim-character-items .col-md-12, .dim-character-items .col-lg-1, .dim-character-items .col-lg-2, .dim-character-items .col-lg-3, .dim-character-items .col-lg-4, .dim-character-items .col-lg-5, .dim-character-items .col-lg-6, .dim-character-items .col-lg-7, .dim-character-items .col-lg-8, .dim-character-items .col-lg-9, .dim-character-items .col-lg-10, .dim-character-items .col-lg-11, .dim-character-items .col-lg-12, .dim-character-items .col-xl-1,
  .dim-character-items .col-xl-2, .dim-character-items .col-xl-3, .dim-character-items .col-xl-4, .dim-character-items .col-xl-5, .dim-character-items .col-xl-6, .dim-character-items .col-xl-7, .dim-character-items .col-xl-8, .dim-character-items .col-xl-9, .dim-character-items .col-xl-10, .dim-character-items .col-xl-11, .dim-character-items .col-xl-12,
  .dim-character-items .col-xs-15, .dim-character-items .col-sm-15, .dim-character-items .col-md-15, .dim-character-items .col-lg-15, .dim-character-items .col-xl-15 {
    position: relative;
    min-height: 1px;
    padding-right: .2rem;
    padding-left: .2rem;
  }

  .col-xs-15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }

  @media (min-width: 34em) {
    .col-sm-15 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 20%;
          -ms-flex: 0 0 20%;
              flex: 0 0 20%;
    }
  }

  @media (min-width: 48em) {
    .col-md-15 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 20%;
          -ms-flex: 0 0 20%;
              flex: 0 0 20%;
    }
  }

  @media (min-width: 62em) {
    .col-lg-15 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 20%;
          -ms-flex: 0 0 20%;
              flex: 0 0 20%;
    }
  }

  @media (min-width: 75em) {
    .col-xl-15 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 20%;
          -ms-flex: 0 0 20%;
              flex: 0 0 20%;
    }
  }

  .equipped {
    background-color: rgba(0,0,0,.1);
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 3.25rem;
        -ms-flex: 0 0 3.25rem;
            flex: 0 0 3.25rem;
    margin-right: .25rem;
  }

  .unequipped {
    -webkit-box-flex: 3;
    -webkit-flex: 3 0 3.25rem;
        -ms-flex: 3 0 3.25rem;
            flex: 3 0 3.25rem;
  }

  .item {
    width: 100%;
    height: 0;
    /*padding-bottom: 100%;*/
    width: 100vh;
    height: 100vh;
    display: inline-block;
    width: 3.25em;
    height: 3.25em;
    background-color: blue;
  }

  .select-all {
    background-color: yellow;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }

  ul.navbar-nav .nav-link {
    color:#fff !important;
  }

/* jasny styles */
  html, body {
    height: 100%;
  }
  body {
    padding: 70px 0 0 0;
  }

  .container {
    max-width: 100%;
  }

  @media (min-width: 1px) {
    .navbar-toggle {
      display: block !important;
    }
  }

  @media (min-width: 1600px) {
    /*body {
      padding: 70px 0 0 300px;
    }*/
    .navmenu {
      padding-top: 0;
    }
  }

</style>
<div id="slideMenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas-lg">
  <a class="navmenu-brand visible-md visible-lg" href="#">MENU</a>
  <ul class="nav navmenu-nav">
    <li class="active"><a href="./">Slide in</a></li>
    <li><a href="../navmenu-push/">Push</a></li>
    <li><a href="../navmenu-reveal/">Reveal</a></li>
    <li><a href="../navbar-offcanvas/">Off canvas navbar</a></li>
  </ul>
  <ul class="nav navmenu-nav">
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
      <ul class="dropdown-menu navmenu-nav">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Nav header</li>
        <li><a href="#">Separated link</a></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </li>
  </ul>
</div>
<div id="leftMenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
  <a class="navmenu-brand" href="#">All the left things</a>
  <ul class="nav navmenu-nav">
    <li><a href="#">Bungie Account</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Logout</a></li>
  </ul>
</div>
<div id="rightMenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
  <a class="navmenu-brand" href="#">All the right things</a>
  <ul class="nav navmenu-nav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
  </ul>
</div>

<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <a class="navbar-brand pull-left" href="#">DIM</a>
  <ul class="nav navbar-nav pull-right">
    <li class="nav-item">
      <a class="nav-link navbar-toggle" data-toggle="offcanvas" data-target="#slideMenu">
        Right Slide Menu
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbar-toggle" data-toggle="offcanvas" data-target="#leftMenu" data-canvas="body">
        Left Menu Push
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbar-toggle" data-toggle="offcanvas" data-target="#rightMenu" data-canvas="body">
        Right Menu Push
      </a>
    </li>
    <li class="nav-item">
      <div class="nav-link">
        Vault Columns:
        <select class="btn btn-secondary" ng-change="vaultChangeCol(vm.vaultColumns)"
          ng-model="vm.vaultColumns" render-col-options
          ng-options="name for (name, value) in vm.columns">
        </select>
      </div>
    </li>
    <li class="nav-item">
      <div class="nav-link">
        Inventory Columns:
        <select class="btn btn-secondary" ng-change="invChangeCol(vm.invColumns)"
          ng-model="vm.invColumns" render-col-options
          ng-options="name for (name, value) in vm.columns">
        </select>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link"><i class="fa fa-bars fa-lg"></i></a>
    </li>
  </ul>
</nav>
<div class="container container-fluid">
  <div class="row dim-app-header">
    <div class="col-xs-12">
    </div>
  </div>
  <div class="row dim-character-header">
    <div class="col-xs-12 col-sm-6 col-lg-3">
      Character 1
    </div>
    <div class="col-xs-12 col-lg-3 hidden-md-down">
      Character 2
    </div>
    <div class="col-xs-12 col-lg-3 hidden-md-down">
      Character 3
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 hidden-xs-down">
      Vault
    </div>
  </div>
  <div class="row dim-item-category">
    <div class="col-xs-12 col-sm-6 col-lg-9">
      Weapons
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 hidden-xs-down">
      Weapons
    </div>
  </div>
  <div class="row dim-item-type">
    <div class="col-xs-12 col-sm-6 col-lg-9">
      Primary
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 hidden-xs-down">
      Primary
    </div>
  </div>
  <div class="row dim-items">
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <div class="dim-character-items">
        <div class="equipped">
            <div class="item"></div>
            <div class="item select-all">Select All</div>
        </div>
        <div class="unequipped">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-3 hidden-md-down">
      <div class="dim-character-items">
        <div class="equipped">
            <div class="item"></div>
            <div class="item select-all">Select All</div>
        </div>
        <div class="unequipped">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-3 hidden-md-down">
      <div class="dim-character-items">
        <div class="equipped">
            <div class="item"></div>
            <div class="item select-all">Select All</div>
        </div>
        <div class="unequipped">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 hidden-xs-down">
      <div class="dim-character-items">
        <div class="unequipped">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row dim-item-type">
    <div class="col-xs-12 col-sm-6 col-lg-9">
      Special
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 hidden-xs-down">
      Special
    </div>
  </div>
  <div class="row dim-items">
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <div class="dim-character-items">
        <div class="equipped">
          <div class="item"></div>
          <div class="item select-all">Select All</div>
        </div>
        <div class="unequipped">
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-3 hidden-md-down">
      <div class="dim-character-items">
        <div class="equipped">
            <div class="item"></div>
            <div class="item select-all">Select All</div>
        </div>
        <div class="unequipped">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-3 hidden-md-down">
      <div class="dim-character-items">
        <div class="equipped">
            <div class="item"></div>
            <div class="item select-all">Select All</div>
        </div>
        <div class="unequipped">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 hidden-xs-down">
      <div class="dim-character-items">
        <div class="unequipped">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row dim-item-type">
    <div class="col-xs-12 col-sm-6 col-lg-9">
      Heavy
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 hidden-xs-down">
      Heavy
    </div>
  </div>
  <div class="row dim-items">
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <div class="dim-character-items">
        <div class="equipped">
          <div class="item"></div>
          <div class="item select-all">Select All</div>
        </div>
        <div class="unequipped">
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-3 hidden-md-down">
      <div class="dim-character-items">
        <div class="equipped">
            <div class="item"></div>
            <div class="item select-all">Select All</div>
        </div>
        <div class="unequipped">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-3 hidden-md-down">
      <div class="dim-character-items">
        <div class="equipped">
            <div class="item"></div>
            <div class="item select-all">Select All</div>
        </div>
        <div class="unequipped">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 hidden-xs-down">
      <div class="dim-character-items">
        <div class="unequipped">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row dim-item-category">
    <div class="col-xs-12 col-sm-6 col-lg-9">
      Weapons
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 hidden-xs-down">
      Weapons
    </div>
  </div>
  <div class="row dim-item-type">
    <div class="col-xs-12 col-sm-6 col-lg-9">
      Helmet
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 hidden-xs-down">
      Helmet
    </div>
  </div>
  <div class="row dim-items">
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <div class="dim-character-items">
        <div class="equipped">
          <div class="item"></div>
          <div class="item select-all">Select All</div>
        </div>
        <div class="unequipped">
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-3 hidden-md-down">
      <div class="dim-character-items">
        <div class="equipped">
            <div class="item"></div>
            <div class="item select-all">Select All</div>
        </div>
        <div class="unequipped">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-3 hidden-md-down">
      <div class="dim-character-items">
        <div class="equipped">
            <div class="item"></div>
            <div class="item select-all">Select All</div>
        </div>
        <div class="unequipped">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 hidden-xs-down">
      <div class="dim-character-items">
        <div class="unequipped">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row dim-item-type">
    <div class="col-xs-12 col-sm-6 col-lg-9">
      Gauntlets
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 hidden-xs-down">
      Gauntlets
    </div>
  </div>
  <div class="row dim-items">
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <div class="dim-character-items">
        <div class="equipped">
          <div class="item"></div>
          <div class="item select-all">Select All</div>
        </div>
        <div class="unequipped">
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-3 hidden-md-down">
      <div class="dim-character-items">
        <div class="equipped">
            <div class="item"></div>
            <div class="item select-all">Select All</div>
        </div>
        <div class="unequipped">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-3 hidden-md-down">
      <div class="dim-character-items">
        <div class="equipped">
            <div class="item"></div>
            <div class="item select-all">Select All</div>
        </div>
        <div class="unequipped">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 hidden-xs-down">
      <div class="dim-character-items">
        <div class="unequipped">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row dim-item-type">
    <div class="col-xs-12 col-sm-6 col-lg-9">
      Chest
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 hidden-xs-down">
      Chest
    </div>
  </div>
  <div class="row dim-items">
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <div class="dim-character-items">
        <div class="equipped">
          <div class="item"></div>
          <div class="item select-all">Select All</div>
        </div>
        <div class="unequipped">
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-3 hidden-md-down">
      <div class="dim-character-items">
        <div class="equipped">
            <div class="item"></div>
            <div class="item select-all">Select All</div>
        </div>
        <div class="unequipped">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-3 hidden-md-down">
      <div class="dim-character-items">
        <div class="equipped">
            <div class="item"></div>
            <div class="item select-all">Select All</div>
        </div>
        <div class="unequipped">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 hidden-xs-down">
      <div class="dim-character-items">
        <div class="unequipped">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 hidden-sm-up">
      <div style="height: 60vh"></div>
    </div>
  </div>
</div>
