<nav class="navbar navmenu" ng-class="{ 'open': vm.menuOpen }">
  <button class="navbar-toggler pull-left" ng-click="vm.toggleMenu()">
    &times;
  </button>
  <a class="navbar-brand pull-left">DIM</a>
  <ul class="nav navbar-nav" style="clear: both;">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <toggle-switch
        ng-model="switchStatus"
        on-label="XBL"
        off-label="PSN">
      <toggle-switch>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pricing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pricing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pricing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pricing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>
</nav>
<div class="canvas">
  <div class="navbar navbar-default navbar-dark bg-inverse navbar-fixed-top">
    <button class="navbar-toggler" ng-click="vm.toggleMenu()">
      &#9776;
    </button>
  </div>
  <div class="container container-fluid">
    <div ui-view></div>
    <div class="row">
      <div class="col-xs-12 hidden-sm-up">
        <div style="height: 60vh"></div>
      </div>
    </div>
  </div>
</div>
